
@media (min-width: 1px) {
    .card__bottom {
        padding: 10px 15px;
    }
    .card__bottom__left > h5 > a {
        font-size: 22px;
    }
    
    .card__item {
        width: 100%;
    }
    .card__item:first-child {
        width: 100%;
    }
}


@media (min-width: 576px) {
    .card__bottom {
        padding: 10px 15px;
    }
    .card__bottom__left > h5 > a {
        font-size: 22px;
    }
    
    .card__item {
        width: 50%;
    }
    .card__item:first-child {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card__bottom {
        padding: 10px 20px;
    }

    .card__bottom__left > h5 > a {
        font-size: 24px;
    }

    .card__item {
        width: 50%;
    }
    .card__item:first-child {
        width: 100%;
    }

}

@media (min-width: 992px) {
    .card__bottom {
        padding: 25px 22px 25px 30px;
    }

    .card__bottom__left > h5 > a {
        font-size: 24px;
    }
    .card__item {
        padding: 0 15px 30px 15px;

    }

    .card__item {
        width: 33%;
    }

    .card__item:first-child {
        width: 66.5%;
    }

}

@media (min-width: 1200px) {
    .card__bottom {
        padding: 25px 22px 25px 38px;
    }

    .card__bottom__left > h5 > a {
        font-size: 36px;

    }
    .card__item {
        padding: 0 15px 30px 15px;

    }
    
    .card__item {
        width: 33%;
    }

    .card__item:first-child {
        width: 66.5%;
    }

}
